APScheduler
TA-Lib
aiofiles
aiohttp
aiosignal
aiosqlite
arrow
async-timeout
asyncio
attrs
backports.zoneinfo; python_version < "3.9"
backtrader
cachetools
certifi
charset-normalizer
click
colorama
dataclasses
datetime
discord-webhook
eventkit
fastapi
feedparser
flake8
Flask
frozenlist
gunicorn
httpx
ib-insync
ib_async
idna
itsdangerous
jinja2
Jinja2
jsonpickle
jsonschema
kaleido
libtmux
loguru
MarkupSafe
matplotlib
mccabe
multidict
nest-asyncio
numpy
oauthlib
packaging
pandas
pandas_ta
pathlib
plotly
polygon-api-client
pycodestyle
pydantic
pyflakes
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-multipart
python-telegram-bot
pytz
pytz-deprecation-shim
redis
regex
requests
requests-oauthlib
setuptools
shellingham
six
slack-webhook
sqlalchemy
tailwindcss
toml
tornado
tweepy
typer
typer-cli
tzdata
tzlocal
urllib3
uvicorn
waitress
Werkzeug
werkzeug
yarl
